PORT=3001

# JWT
JWT_SECRET=change_me_please_32_chars_minimum
JWT_EXPIRES_IN=1h

# Postgres (Neon)
# Usa la cadena completa con sslmode=require que entrega Neon
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
DATABASE_SSL_REJECT_UNAUTHORIZED=false

# CORS
FRONTEND_ORIGIN=http://localhost:5173
